### Elham Bahrami
### 10/08/2019

In [102]:
import numpy as np
import pandas as pd

### We are working with a dataset that includes gas consumption in New York City.<br>Let's see what we have in the dataset

In [103]:
nyc_gas =  pd.read_csv("https://data.cityofnewyork.us/api/views/uedp-fegm/rows.csv?accessType=DOWNLOAD")

In [104]:
#Size of the dataset
nyc_gas.shape

(1015, 5)

In [105]:
nyc_gas.head()

,Zip Code,Building type (service class,Consumption (therms),Consumption (GJ),Utility/Data Source
0,10300,Commercial,470.0,50.0,National Grid
1,10335,Commercial,647.0,68.0,National Grid
2,10360,Large residential,33762.0,3562.0,National Grid
3,11200,Commercial,32125.0,3389.0,National Grid
4,11200,Institutional,3605.0,380.0,National Grid

### It seems there are something wierd with name of one of the columns(Buliding type(service class

In [106]:
nyc_gas.columns

Index(['Zip Code', 'Building type (service class', ' Consumption (therms) ',
       ' Consumption (GJ) ', 'Utility/Data Source'],
      dtype='object')

In [107]:
#changing name of column; Building type(service class to Service Type
nyc_gas= nyc_gas.rename(columns={'Building type (service class':'Building_Type', ' Consumption (GJ) ':'Consumption_GJ',
                                ' Consumption (therms) ':'Consumption_therms'})

In [108]:
nyc_gas.head()

,Zip Code,Building_Type,Consumption_therms,Consumption_GJ,Utility/Data Source
0,10300,Commercial,470.0,50.0,National Grid
1,10335,Commercial,647.0,68.0,National Grid
2,10360,Large residential,33762.0,3562.0,National Grid
3,11200,Commercial,32125.0,3389.0,National Grid
4,11200,Institutional,3605.0,380.0,National Grid

In [109]:
nyc_gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 5 columns):
Zip Code               1015 non-null object
Building_Type          1015 non-null object
Consumption_therms     1005 non-null float64
Consumption_GJ         1005 non-null float64
Utility/Data Source    1015 non-null object
dtypes: float64(2), object(3)
memory usage: 39.7+ KB

In [111]:
#Number of distinct Building Type
nyc_gas['Building_Type'].unique()

array(['Commercial', 'Large residential', 'Institutional',
       'Small residential', 'Industrial', 'Large Residential',
       'Residential'], dtype=object)

In [112]:
len(nyc_gas['Building_Type'].unique())

7

### 'Large Residential' and 'Large residential' should be combined because of the mistake in type of 'r' letter in 'Large residential'

In [113]:
nyc_gas = nyc_gas.replace({'Building_Type':'Large residential'}, {'Building_Type':'Large Residential'}, regex=True)

In [114]:
nyc_gas['Building_Type'].unique()

array(['Commercial', 'Large Residential', 'Institutional',
       'Small residential', 'Industrial', 'Residential'], dtype=object)

In [115]:
#Median of consumption for each type of building
nyc_gas_median = nyc_gas.groupby('Building_Type').agg('median')
nyc_gas_median

                   Consumption_therms  Consumption_GJ
Building_Type
Commercial                  1795291.0        189413.0
Industrial                   159872.5         16867.5
Institutional                625816.0         66027.0
Large Residential           1525604.5        160960.0
Residential                  505076.0         53288.5
Small residential           5683111.5        599600.0

In [125]:
print(nyc_gas_median['Consumption_GJ'].max())
print(nyc_gas_median['Consumption_GJ'].min())

599600.0
16867.5

### Small residential has the maximum and Industrial has the minimum of cunsumption_GJ<br> Small residential's consumption is surprising!

In [126]:
#Distinct type of Utility
nyc_gas['Utility/Data Source'].unique()

array(['National Grid', 'ConEd'], dtype=object)

In [127]:
#Mean and Standar deviation of each utility type
nyc_gas_mean_std = nyc_gas.groupby('Utility/Data Source').agg(['mean','std'])

In [128]:
nyc_gas_mean_std

                    Consumption_therms               Consumption_GJ  \
                                  mean           std           mean
Utility/Data Source
ConEd                     2.128567e+06  2.833575e+06  224575.750491
National Grid             3.388214e+06  5.330099e+06  357475.560484


                               std
Utility/Data Source
ConEd                298958.048808
National Grid        562355.273624

### It is better to mention the masurement unit of Consumption_therm and Consumption_GJ to meake it better for the reader to underestand.